body{
    background-color: rgb(245, 196, 243);
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;             /* Full viewport height */
  margin: 0;
  
}
